@charset "UTF-8";
@import "iconfont/iconfont.css";


* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #f9f9f9;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif; }

html {
  -webkit-tap-highlight-color: transparent; }

.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both; }

.clearfix {
  zoom: 1; }

.fl {
  float: left; }

.fr {
  float: right; }
.bg{
 background: url("../images/index-bg.png") scroll top center /cover;
}
a{
  text-decoration: none;
}
.myhome{
  position: relative;
  a{
    float: left;
    font-size:12px;
    color:#ffffff;
    letter-spacing:1px;
    text-align:left;
    i{
      font-size: 12px;
    }
  }
  ul.downmenu{
    display: none;
    opacity:0.82;
    background:#ffffff;
    border-radius:3px;
    top:22px;
    position: absolute;
    left: 0;
    padding-bottom: 10px;
    li{
      list-style: none;
      font-size:12px;
      color:#7e9cac;
      letter-spacing:0.49px;
      padding:10px 10px 0;
      i{
        font-size:15px;
        vertical-align: middle;
      }
    }
  }


}
.addbtn{
  float: right;
  font-size: 16px;
  color: #fff;
}
header{
  padding: 10px;
}
.footer{
  position: fixed;
  bottom: 0;
  left:0;
  height: 53px;
  opacity:0.69;
  background:#ffffff;
  width: 100%;
  border-top:1px solid #f9f9f9;
  z-index: 9999;
  ul{
    li{
      list-style: none;
      float: left;
      padding:10px 20px 0;
      a{
        text-align: center;
        display: block;

        i{
          display: inline-block;
          color: #595959;
          font-size:20px;
        }
        span{
          display: block;

          font-size:10px;
          color:#8b8b8b;
        }
      }
      &.active{
        a{
          i,span{
            color:#0ed7c1;
          }
        }

      }
    }
  }
  .icon-set{
    padding: 0 10px;
    line-height: 53px;
    i{
      display: inline-block;
      color: #595959;
      font-size:20px;
    }
  }
}

.weather{
  padding: 20px;
  .du{
    font-size:57px;
    color:#ffffff;
    letter-spacing:-4.28px;
    text-align:left;
    i{
      font-size:14px;
      color:#ffffff;
      letter-spacing:-1.05px;
      text-align:left;
      font-style: normal;
    }
  }
  .info{
    font-size:14px;
    color:#ffffff;
    letter-spacing:-1.05px;
    text-align:left;
  }
  .note{
    font-size:14px;
    color:#ffffff;
    text-align:left;
    span{
      padding: 0 10px;
    }
  }
}

/*

<div class="house">
    <h1>美的空调</h1>
    <p class="info">送风模式</p>
    <div class="num">
        <p class="info">PM2.5 参考值</p>
        <div class="shu">038</div>
        <h1 class="msg">室内空气 优</h1>
        <p class="tip">滤芯还剩85%</p>
    </div>
</div>
*/
.house{
  text-align: center;

  > h1{
    font-size:17px;
    color:#ffffff;
  }
  .info{
    font-size:12px;
    color:#ffffff;
  }
  .num{
    border:1px solid #ffffff;
    width:178px;
    height:178px;
    border-radius:100%;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    .num-con{
      margin:auto;
    }
    .info{
      font-size:12px;
      color:#ffffff;
    }
    .shu{
      font-size:52px;
      color:#ffffff;
      letter-spacing:2.14px;
    }
    .msg{
      font-size:15px;
      color:#ffffff;
      letter-spacing:1px;
    }
    .tip{
      font-size:12px;
      color:#ffffff;
      letter-spacing:1px;
    }
  }
}

.info-list{
  background:#ccf2fd;
  border-radius:5px;
  width: 90%;
  margin: 0 auto 10px;
  .line{
    display: table;
    width: 100%;
    >div{
      &:after{
        content: "";
        display: block;
        width: 50%;
        height: 1px;
        background-color: #fff;
        margin: 0 auto;
        opacity: 0.5;
        margin-top:10px;
      }
    }
   .col-6{
     display: table-cell;
     width: 50%;
     padding: 10px;
     span{
       font-size:27px;
       color:#5099d0;
       letter-spacing:1.11px;
       i{
         font-size:12px;
         color:#819eaf;
         letter-spacing:0;
         font-style: normal;
       }
     }
     p{
       span{
         font-size:12px;
         color:#7e9cac;
         letter-spacing:0.49px;
       }

       i{
         display: inline-block;
         vertical-align: middle;
         font-style: normal;
         width:6px;
         height:6px;
         border-radius:100%;
         &.red{
           background:#d0011b;
         }
         &.org{
           background:#e9982e;
         }
       }
     }
   }
   .col-4{
     display: table-cell;
     width: 33.3333%;
     padding: 10px;
     span{
       font-size:20px;
       color:#5099d0;
       letter-spacing:0.82px;
       i{
         font-style: normal;
         font-size:9px;
         color:#5099d0;
         letter-spacing:0.37px;
       }
     }
     p{
       span{
         font-size:12px;
         color:#7e9cac;
         letter-spacing:0.49px;
       }
     }
   }
  }
}
.hbg{
  background-color: #68bef3;
  color: #fff;
  .title{
    font-size:17px;
    color:#ffffff;
  }
}
.goleft{color: #fff;

}
.mask {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: hidden;
  background-color: #000;
  opacity: 0.4;
  width: 100%;
  height: 100%; }

.pop-add {
  display: none;
  background: #fff;
  position:fixed;
  top:30%;
  left:12.5%;
  width:75%;
  border-radius:8px;
  z-index:10001;


  .pop-con{

    padding: 30px;
    text-align: center;
    color: #41cecf;
    font-size: 16px;
    .title{
      font-size:17px;
      color:#6f8a98;
      text-align: center;
    }
    .ipt-form{
      padding:10px 0;
      input{
        background:#ffffff;
        border:1px solid #c2c2c2;
        border-radius:4px;
        padding: 10px ;
      }

    }
    .btn-g{
      padding: 10px 0;
      a{
        border-radius:6px;
        display: inline-block;
        line-height: 36px;
        padding: 0 15px;
        font-size:15px;
        margin-left: 10px;
        &:after{
          margin-left: 0;
        }
      }
      .btn-un{
          background:#e9f3f8;
          color:#7e9cac;
        }
      .btn-submit{
        background:#68bef3;
        color:#ffffff;
      }
    }

  }

}
.text-center{
  text-align: center;
}

.coup-list{
  background-color: #fff;

  li{
    h1{
    font-size:17px;
    color:#6f8a98;
      font-weight: 400;
  }
    p{
      font-size:15px;
      color:#6f8a98;
      &.info{
        font-size: 12px;
        color: #999;
        padding-top:5px;
      }
    }
    border-bottom: 1px solid #e9e9e9;
    padding: 10px;
    position: relative;

    &:first-child{
      &:after{
        content: normal;
      }
    }
    .item{
      display: block;
    }
    .home-c{

      &:after{
        content: "\e633";
        font-family:"iconfont" !important;
        position: absolute;
        top:50%;
        right: 10px;
        margin-top:-8px;
        color: #777;
      }
    }
  }
}

.con-page{
  font-size: 10px;
  background-color: #fff;
  .form-container {
    /*    padding:30px 20px;*/
    padding: 0;
    .line {
      padding: 8px 10px;
      .title {
        width: 20%;
        line-height: 32px;
        height: 32px;
        color: #828890; }
      .con {
        width: 80%;
        .ipt {
          border: 1px solid #ccc;
          border-radius: 3px;
          background-color: #fff;
          line-height: 30px;
          position: relative;
          padding-right: 20px;
          input {
            width: 100%;
            border: none;
            padding: 0 10px; }
        }
      }
     }
  }
}

.yanz {
  border: 1px solid #68bef3;
  border-radius: 40px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  color: #68bef3;
  text-decoration: none;
  padding: 0 20px;
  &.disable{
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #999;
  }
}
.com-btn {
  /* Rectangle: */
  background: #68bef3;
  -webkit-box-shadow: 0 2px 28px 0 #68bef3;
  -moz-box-shadow: 0 2px 28px 0 #68bef3;
  box-shadow: 0 2px 28px 0 #68bef3;
  border-radius: 5px;
  width: 190px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  margin: 20px auto;
  display: block;
  color: #fff;
  text-decoration: none; }
.w01{
  width: 56%; display: inline-block; margin-right: 10px;
}

a.edit,.edit-over {
  float: right;
  color:  #68bef3;
  font-size:  12px;
  margin-top: 4px;
}
.edit-over{
  display: none;
}

a.delebtn {
  position: absolute;
  color:  #333;
  right:  10px;
  top: 50%;
  margin-top: -10px;
  display: none;
  i{
    font-size:20px;
  }
}
@media screen and (max-width: 320px) {
 .w01{
   width: 50%;
 }
}